<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Create Post</title>
  <style>
    ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  color:white;
}
  </style>
  <link rel="icon" href="icon.ico">
</head>
<body>
  <ul>
    <li><a href="/home">Home</a></li>
    <li><a href="/message">Random Connect</a></li>
    <li><a href="/userprofile">User Profile</a></li>
    <li style="background-color: red;"><a href="/logout">Logout</a></li>
    <li><a href="/home"> <img src="logo.png" style="position: absolute;right:0; top:0; width: 10%; height: 7.5%; outline-color: #333;" alt=""></a></li>
  </ul>
  <div class="container">
    <h1 class="mb-4">New Article</h1>
    <h4>User: <%=name%>  </h4>
    <label for="selectpicker">Community:</label>
    <form action="/post" method="POST" name="thisthing">
      <select class="selectpicker" data-style="btn-info" name="comm">
        <% c.forEach(a => {  %>
          <option name="kevin" id="kevin" value="<%=a.c_id%>"><%=a.comm_name %></option>
        
        <%})%>
      </select>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" class="form-control">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea name="description" id="description" class="form-control"></textarea>
          </div>
          <a href="/home" style="background-color: red;" class="btn btn-secondary">Cancel</a>
          <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</body>
</html>